.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: inherit;
  background-color: #f5f5f5;
  transition: all .25s;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
      background-color: darken(#f5f5f5, 5%);            
  }

  &--active {
    color: #fff;
    background-color: darken(#f5f5f5, 50%);

    &:hover {
      background-color: darken(#f5f5f5, 60%);
    }
  }
}
