<template lang="html">
    <div class="faves-view">
        <PhotoList
          v-if="photos.length"
          :photos="photos"
          :faves="photos"
        ></PhotoList>

        <div class="faves-view__no-content" v-else>
          <span>No Favourites saved! Get started by clicking the heart icon (</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 510 510"
            class="faves-view__heart"
          >
            <path
              d="M255 489.6l-35.7-35.7C86.7 336.6 0 257.55 0 160.65 0 81.6 61.2 20.4 140.25 20.4c43.35 0 86.7 20.4 114.75 53.55C283.05 40.8 326.4 20.4 369.75 20.4 448.8 20.4 510 81.6 510 160.65c0 96.9-86.7 175.95-219.3 293.25L255 489.6z"
            ></path>
          </svg>
          <span>) on the photos that you like.</span>
        </div>
    </div>
</template>

<script>
import PhotoList from '@/components/PhotoList';

export default {
  name: 'FavouritesView',

  components: {
    PhotoList,
  },

  data() {
    return {
      photos: [],
    };
  },

  created() {
    this.photos = this.getFaves();
  },

  methods: {
    onHomeClick() {
      this.$router.push('/');
    },

    getFaves() {
      return JSON.parse(localStorage.getItem('faves') || '[]');
    }
  }
}
</script>

<style lang="scss" scoped>
.faves-view {

  &__no-content {
    display: flex;
    align-items: center;
  }

  &__heart {
    position: relative;
    top: 1px;
    width: 1rem;
    fill: red;
  }
}
</style>

