<template lang="html">
    <div class="home-view">
        <PhotoList :photos="photos"></PhotoList>
        <transition name="fade">
            <div
                class="home-view__loader"
                v-if="isLoading"
            >
                <div class="home-view__spinner"></div>
            </div>
        </transition>
    </div>
</template>

<script>
    import PhotoList from '@/components/PhotoList';
    import * as PhotoService from '@/http/PhotoService';
    import debounce from 'lodash.debounce';

    export default {
        name: 'HomeView',

        components: {
            PhotoList,
        },

        data() {
            return {
                debouncedFunction: null,
                isLoading: false,
                currentPage: 1,
                photos: [],
            }
        },

        created() {
            this.grabImages();
            this.debouncedFunction = debounce(this.onScroll.bind(this), 100);
            window.addEventListener('scroll', this.debouncedFunction, false);
        },

        beforeRouteLeave(to, from, next) {
            window.removeEventListener('scroll', this.debouncedFunction, false);
            next();
        },

        methods: {
            onFaveClick() {
                this.$router.push('faves');
            },

            grabImages() {
                this.isLoading = true;
                PhotoService.list({client_id: this.$root.client_id, per_page: 30, page: this.currentPage})
                    .then(res => {
                        this.photos = [...this.photos, ...res.data];
                        this.currentPage++;
                    })
                    /* eslint-disable-next-line */
                    .catch(console.error)
                    .then(() => {
                        this.isLoading = false;
                    });
            },

            onScroll() {
                if (this.isLoading) return;

                const buffer = 250;
                const pageHeight = document.documentElement.offsetHeight;
                const windowHeight = window.innerHeight;
                const scrollPosition = window.scrollY || window.pageYOffset || document.body.scrollTop + (document.documentElement && document.documentElement.scrollTop || 0);
                
                const atBottom = pageHeight - buffer <= (windowHeight + scrollPosition);

                if (!atBottom) return;

                this.grabImages();
            },
        },
    }
</script>

<style lang="scss" scoped>
.home-view {

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    &__spinner {
        position: relative;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        opacity: 1;

        &:before,
        &:after {
            content:'';
            border: 1px solid #000 ;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            position: absolute;
            left:0px;  
        }

        &:before {
            transform: scale(1,1);
            opacity: 1;
            animation: waveBefore 0.6s infinite linear;
        }

        &:after {
            transform: scale(0,0);
            opacity: 0;
            animation: waveAfter 0.6s infinite linear;
        }
    }
}
</style>
