<template lang="html">
    <div class="photo-view">
        <PhotoElement
            class="photo-view__image"
            :photo="photo"
            :faves="faves"
            :showDetails="false"
        ></PhotoElement>
        <UserCard
            class="photo-view__user"
            v-if="photo.user.username"
            :username="photo.user.username"
        ></UserCard>
    </div>
</template>

<script>
    import PhotoElement from '@/components/PhotoElement';
    import UserCard from '@/components/UserCard';
    import * as PhotoService from '@/http/PhotoService'

    export default {
        name: 'PhotoView',

        components: {
            PhotoElement,
            UserCard
        },

        data() {
            return {
                faves: [],
                photo: {
                    urls: {},
                    user: {}
                }
            }
        },

        created() {
            this.faves = this.getFaves();

            PhotoService.get(this.$route.params.id, {client_id: this.$root.client_id})
                .then(res => {
                    this.photo = res.data
                })
                /* eslint-disable-next-line */
                .catch(console.error)
        },

        methods: {
            getFaves() {
                return JSON.parse(localStorage.getItem('faves') || '[]');
            }
        }
    }
</script>

<style lang="scss" scoped>
.photo-view {
    display: flex;

    &__image {
        flex: 1;
    }

    &__user {
        margin-left: 10px;
        align-self: flex-start;
        min-width: 300px;
        flex-basis: 300px;
    }

    @media (max-width: 767px) {
        flex-direction: column;

        &__user {
            margin-left: 0;
            order: -1;
            flex-basis: 100%;
            width: 100%;
        }
    }
}
</style>

