<template lang="html">
    <div class="search-view">
      <div class="search-view__controls">
        <input
          class="search-view__input"
          placeholder="Search for photos"
          v-model="query"
          @keyup.enter="onQuery"
        >
        <button
          class="search-view__button button"
          :disabled="isLoading"
          @click="onQuery"
        >Search</button>
      </div>
      <div
        class="search-view__error"
        v-if="error.length"
      >Error: {{ error }}</div>
      <PhotoList
        :photos="photos"
      />
    </div>
</template>

<script>
import PhotoList from '@/components/PhotoList';
import * as PhotoService from '@/http/PhotoService'

export default {
  name: 'FavouritesView',

  components: {
    PhotoList,
  },

  data() {
    return {
      isLoading: false,
      error: '',
      query: '',
      photos: [],
    };
  },

  methods: {
    getPhotos() {
      return PhotoService.list({
          client_id: this.$root.client_id,
          per_page: 20,
          query: this.query
        });
    },

    onQuery() {
      if (this.isLoading) return;

      if (!this.query.length) {
        this.error = 'please enter a search query';
        return;
      }

      this.isLoading = true;
      this.error = '';
  
      this.getPhotos()
        .then(res => {
          this.photos = res.data
          this.isLoading = false;
        })
        /* eslint-disable-next-line */
        .catch((e) => {
          this.error = e;
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.search-view {

  &__controls {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 639px) {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    padding: 20px;
    height: 50px;
  }

  &__button {
    min-width: 200px;
    margin-top: 10px;

    @media (min-width: 640px) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &__error {
    margin-top: 10px;
    color: red;
    font-weight: bold;
  }
}
</style>
