<template lang="html">
    <div class="user-view">
        <UserCard :username="$route.params.username"></UserCard>
        <PhotoList
            :photos="photos"
            :showDetails="false"
        ></PhotoList>
    </div>
</template>

<script>
    import PhotoList from '@/components/PhotoList';
    import UserCard from '@/components/UserCard';
    import * as UserService from '@/http/UserService'

    export default {
        name: 'PhotoView',

        components: {
            PhotoList,
            UserCard
        },

        data() {
            return {
                photos: [],
            }
        },

        created() {
            UserService.listPhotos(this.$route.params.username, {client_id: this.$root.client_id})
                .then(res => {
                    this.photos = res.data
                })
                /* eslint-disable-next-line */
                .catch(console.error)
        },
    }
</script>