<template>
  <button
    class="favourite-button"
    :class="{
        'favourite-button--active': isFavourited,
    }"
    @click="onClick"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 510 510"
        class="favourite-button__icon"
    >
        <path
            d="M255 489.6l-35.7-35.7C86.7 336.6 0 257.55 0 160.65 0 81.6 61.2 20.4 140.25 20.4c43.35 0 86.7 20.4 114.75 53.55C283.05 40.8 326.4 20.4 369.75 20.4 448.8 20.4 510 81.6 510 160.65c0 96.9-86.7 175.95-219.3 293.25L255 489.6z"
        ></path>
    </svg>
  </button>
</template>

<script>
export default {
    name: "FavouriteButton",

    props: {
        isFave: {
            type: Boolean,
            default: false,
        },

        faves: {
            type: Array,
            required: true,
        },

        photo: {
            type: Object,
            required: true,
        },
    },

    data() {
        return {
            isFavourited: false,
        };
    },

    created() {
        this.isFavourited = this.isFave;
    },

    methods: {
        onClick() {
            this.isFavourited = !this.isFavourited;
            this.$emit('faveToggled', this.isFavourited)
            this.toggleFave(this.isFavourited);
        },

        setFaves(items) {
            localStorage.setItem('faves', JSON.stringify(items));
        },

        toggleFave(shouldAdd) {
            const {faves} = this;

            if (shouldAdd) {
                faves.push(this.photo);
            } else {
                const photoIndex = faves.findIndex(photo => photo.id === this.photo.id);
                faves.splice(photoIndex, 1);
            }
            
            this.setFaves(faves);
        },
    }
};
</script>

<style lang="scss">
.favourite-button {
    cursor: pointer;
    padding: .5rem;
    width: 32px;
    height: 32px;
    border: none;
    color: transparent;
    background-color: rgba(#fff, .85);
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all .25s;

    &:hover {
        background-color: #fff;

        .favourite-button__icon {
            stroke: red;
        }
    }

    &--active {
        color: red;

        .favourite-button__icon {
            stroke: red;
        }
    }

    &__icon {
        position: relative;
        overflow: visible;
        top: 1px;
        fill: currentColor;
        stroke: #777;
        stroke-width: 1rem;
        stroke-linecap: round;
        transition: background-color .25s;
    }
}
</style>
