<template lang="html">
    <div
        class="photo-element"
        @mouseenter="isHovering = true"
        @mouseleave="isHovering = false"
    >
        <transition name="fade">
            <div v-show="showDetails && isHovering">
                <div class="photo-element__overlay"></div>
                <div
                    class="photo-element-author"
                    @click="onUserClick"
                >
                    <img
                        class="photo-element-author__image"
                        :src="authorPhoto"
                    >
                    <div
                        class="photo-element-author__name"
                    >{{photo.user.name}}</div>
                </div>
            </div>
        </transition>

        <img
            class="photo-element__image"
            :src="src"
            :alt="alt"
            @click="onImgClick"
        >
        <FavouriteButton
            :isFave="isFave"
            :faves="faves"
            class="photo-element__fave"
            :photo="photo"
        >{{ btnText }}</FavouriteButton>
    </div>
</template>

<script>
import FavouriteButton from '@/components/FavouriteButton';

    export default {
        name: 'PhotoElement',

        components: {
            FavouriteButton,
        },

        data() {
            return {
                isHovering: false,
            };
        },

        props: {
            isFave: {
                type: Boolean,
                default: false,
            },

            showDetails: {
                type: Boolean,
                default: true,
            },

            photo: {
                type: Object,
                required: true,
            },

            faves: {
                type: Array,
                required: true,
            },

            size: {
                type: String,
                default: 'regular'
            }
        },

        computed: {
            src() {
                return this.photo.urls[this.size]
            },

            alt() {
                return this.photo.description
            },

            btnText() {
                return 'like'
            },

            authorPhoto() {
                if (this.photo.user.profile_image) {
                    return this.photo.user.profile_image.small;
                }

                return false;
            }
        },

        methods: {
            onImgClick() {
                this.$router.push({name: 'Photo', params: { id: this.photo.id }})
            },

            onBtnClick(isFavourite) {
                /* eslint-disable-next-line */
                console.log('Mark photo as fave: ', isFavourite)
            },

            onUserClick() {
                this.$router.push({name: 'User', params: { username: this.photo.user.username }})
            }
        }
    }
</script>


<style lang="scss" scoped>
.photo-element {
    position: relative;
    cursor: pointer;

    &__image {
        width: 100%;
    }

    &__overlay {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg,
            rgba(0,0,0,.2) 0,
            rgba(0,0,0,.199) 3.5%,
            rgba(0,0,0,.195) 7%,
            rgba(0,0,0,.19) 10.35%,
            rgba(0,0,0,.182) 13.85%,
            rgba(0,0,0,.174) 17.35%,
            rgba(0,0,0,.165) 20.85%,
            rgba(0,0,0,.155) 24.35%,
            rgba(0,0,0,.145) 27.85%,
            rgba(0,0,0,.135) 31.35%,
            rgba(0,0,0,.126) 34.85%,
            rgba(0,0,0,.118) 38.35%,
            rgba(0,0,0,.11) 41.85%,
            rgba(0,0,0,.105) 45.35%,
            rgba(0,0,0,.1) 48.85%,
            rgba(0,0,0,.103) 52.35%,
            rgba(0,0,0,.112) 55.85%,
            rgba(0,0,0,.126) 59.35%,
            rgba(0,0,0,.144) 62.85%,
            rgba(0,0,0,.165) 66.35%,
            rgba(0,0,0,.188) 69.85%,
            rgba(0,0,0,.213) 73.35%,
            rgba(0,0,0,.237) 76.85%,
            rgba(0,0,0,.262) 80.35%,
            rgba(0,0,0,.285) 83.85%,
            rgba(0,0,0,.306) 87.35%,
            rgba(0,0,0,.324) 90.85%,
            rgba(0,0,0,.338) 94.35%,
            rgba(0,0,0,.347) 97.85%,
            rgba(0,0,0,.35)
        );
    }

    &__fave {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    &-author {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 1rem;
        left: 1rem;
        height: 32px;
        color: #fff;
        text-decoration: none;

        &__image {
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                        0 3px 6px rgba(0, 0, 0, 0.23);
        }

        &__name {
            padding-left: 1rem;
            opacity: .8;
            transition: all .25s;

            &:hover {
                opacity: 1;
            }
        }
    }
}
</style>
