<template lang="html">
    <div
        class="photo-list" 
        transition-duration="0.3s"
        item-selector=".photo-list__item"
        gutter="5"
        v-masonry
    >
        <div
            v-masonry-tile
            class="photo-list__item"
            v-for="photo in photos"
            :key="photo.id" 
        >
            <PhotoElement
                :isFave="isInFaves(photo.id)"
                :faves="faves"
                :photo="photo"
                :showDetails="showDetails"
            ></PhotoElement>
        </div>
    </div>
</template>

<script>
    import PhotoElement from '@/components/PhotoElement'

    export default {
        name: 'PhotoList',

        components: {
            PhotoElement
        },

        props: {
            showDetails: {
                type: Boolean,
                default: true,
            },

            photos: {
                type: Array,
                default() {
                    return []
                }
            },
        },

        data() {
            return {
                faves: [],
            };
        },

        created() {
            this.getFaves();
        },

        methods: {
            getFaves() {
                this.faves = JSON.parse(localStorage.getItem('faves') || '[]');
            },

            isInFaves(id) {
                return !!this.faves.find(photo => photo.id === id);
            },
        },
    }
</script>

<style lang="scss" scoped>
.photo-list {

    &__item {
        margin-bottom: 5px;
        width: 100%;

        @media (min-width: 640px) {
            width: calc(50% - 5px);
        }

        @media (min-width: 1024px) {
            width: calc(33.3333% - 5px);
        }

        @media (min-width: 1200px) {
            width: calc(25% - 5px);
        }

    }
}
</style>

