<template lang="html">
    <div class="user-card">
        <div class="user-card__header">
            <img
                class="user-card__image"
                :src="src"
                :alt="alt"
                @click="onImgClick"
            >

            <div class="user-card__details">
                <h3 class="user-card__name">{{ user.name }}</h3>
                <span>{{ user.username }}</span>
            </div>
        </div>

        <p
            v-if="user.bio"
            class="user-card__bio"
        >{{ user.bio }}</p>
        
    </div>
</template>

<script>
    import * as UserService from '@/http/UserService'

    export default {
        name: 'UserCard',

        props: {
            username: {
                type: String,
                required: true
            },
        },

        data() {
            return {
                user: {
                    profile_image: {}
                }
            }
        },

        computed: {
            src() {
                return this.user.profile_image.medium
            },
            alt() {
                return this.user.name
            }
        },

        created() {
            UserService.get(this.username, {client_id: this.$root.client_id})
                .then(res => {
                    this.user = res.data
                })
                /* eslint-disable-next-line */
                .catch(console.error)
        },

        methods: {
            onImgClick() {
                this.$router.push({name: 'User', params: { username: this.username }})
            }
        }
    }
</script>

<style lang="scss" scoped>
.user-card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fafafa;

    &__header {
        display: flex;
        align-items: flex-start;
    }

    &__image {
        margin-right: 10px;
    }

    &__name {
        margin: 0;
    }

    &__bio {
        margin-bottom: 0;
    }
}
</style>
