<template>
    <div id="app">
        <div class="container">
            <div class="header">
                <h1 class="header__title">{{ $router.currentRoute.name }}</h1>
                <div class="header__buttons">
                    <router-link
                        v-for="route in routes"
                        :key="route"
                        class="header__button button"
                        exact-active-class="button--active"
                        :to="{ name: route }"
                    >{{route}}</router-link>
                </div>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app',

        data() {
            return {
                routes: [
                    'Home',
                    'Search',
                    'Favourites',
                ],
            };
        },

        mounted() {
            if (!this.$root.client_id) {
                this.$router.push('/auth')
            }
        }
    }
</script>

<style lang="scss">
    @import '@/assets/scss/main.scss';

    #app {
        margin-right: auto;
        margin-left: auto;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        max-width: 1600px;
        width: 100%;
    }

    .header {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__title {
            margin: 10px 0;

            @media (min-width: 640px) {
                margin: 20px 0;
            }
        }

        &__button {
            
            & + & {
                margin-left: 10px;
            }
        }

        @media (min-width: 640px) {
            margin-bottom: 0;
            flex-direction: row;
            align-items: center;
        }
    }
</style>
